/*********************************/
/********** Typography ***********/
/*********************************/




/*********************************/
/*********** Buttons *************/
/*********************************/
.btn {
	color: #fff;font-size: 15px;font-family: $ArialR;line-height: 1.2;letter-spacing: 0.4px;text-transform: uppercase; text-align: center;
	display: block; padding: 23px 31px; width: 200px; margin: 0 auto; position: relative;
	background: #f15b26;; border: 2px solid #ffffff;border-radius: 50px;
	transition: background 0.3s ease-out;
	&:hover {
		color: #fff;
		background: #2f2c2c;
	}
	&:focus {
		color: #ffffff;font-family: $ArialR;
	}
	span {
		display: block; position: absolute; top: 12px; left: 12px; width: 18px; height: 18px;
		overflow: hidden;
		&:after {
			content: '';
			display: block; position: absolute; left: 0; top: 0; width: 35px; height: 35px;
			border: 2px solid #fff; border-radius: 100%;
		}
	}
}




/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}




/*********************************/
/*********** Modules *************/
/*********************************/
.results {
	text-align: center;
	margin-bottom: 30px;
	&.invis {
		& > span {
			opacity: 0;
		}
	}
	&.active {
		background: url('../img/rings.svg') center calc(50% + 50px) no-repeat;
		background-size: 195px;
		& > span {
			opacity: 0;
		}
	}
	p { 
		color: #2f2c2c; font-size: 70px; font-family: $ArialR; line-height: 1; text-align: center;text-transform: uppercase;
		margin-bottom: 30px;
	}
	& > span {
		color: #2f2c2c; font-size: 54px; font-family: $ArialR; line-height: 1; text-align: center;
		display: block; margin: 0 15px 15px; height: 63px;
		transition: opacity 0.3s ease-out;
		&:last-child {
			margin-bottom: 0;
		}
		&.id {
			font-size: 80px;
			margin-bottom: 30px; height: 80px;
			span {
				color: #fff;
			}
		}
		&.name, &.surname {
			display: inline-block;
		}
		span {
			color: #2f2c2c;
			display: inline;
		}
	}

}